@import '../../assets/scss/settings/init';

.edit-form {
	display: flex;
	gap: 20px;
	width: 100%;

	&__input {
		flex: 1;

		&.nonvalidated {
			box-shadow: 0 0 5px 5px rgba(183, 6, 6, 0.856);
		}
	}
}
